# @author  Hoang Khac Phuc
# @email   hoangkhacphuc.dev@gmail.com
# @github  https://github.com/hoangkhacphuc

# Zalo Bot SDK - Examples Environment Variables
ZALO_BOT_TOKEN=YOUR_ZALO_BOT_TOKEN_HERE
ZALO_BOT_SECRET=YOUR_ZALO_BOT_SECRET_HERE
ZALO_BOT_TEST_USER_ID=USER_ID_TO_TEST
PORT=3000
BASE_URL=https://your-domain.com
